<!DOCTYPE html>
<html>
<link th:href="@{/css/common.css}" rel="stylesheet">
<script th:src="@{/js/index.js}"></script>

<head>
	<meta charset="UTF-8">
	<title>Spring Sample!</title>
</head>

<body>
	<h1>Hello! Spring Boot</h1>
	<h2>index.html</h2>
	<h3>@ControllerでRESTを実装</h3>
	<h4>getJson</h4>
	<div class="contents">
		<input type="button" value="getJson" onclick="getJson();" />
		<br />
		<label id="getJsonResult" class="result"></label>
	</div>
	<hr />
	
	<h4>getBoolean</h4>
	<h5>/url/{param} の形式で送信する</h5>
	<h5>1 + 1 は？</h5>
	<div class="contents">
		<input type="number" id="getBooleanValue" value="0" onkeydown="return event.keyCode !== 69;" />
		<input type="button" value="getBoolean"
			onclick="getBoolean(document.getElementById('getBooleanValue').value);" />
		<br />
		<label id="getBooleanResult" class="result"></label>
	</div>
	
	<hr />
	<h4>getParam</h4>
	<h5>/url?param= の形式で送信する</h5>
	<h5>1 + 1 は？</h5>
	<div class="contents">
		<input type="number" id="getParam" value="0" onkeydown="return event.keyCode !== 69;" />
		<input type="button" value="getParam" onclick="getParam(document.getElementById('getParam').value);" />
		<br />
		<label id="getParamResult" class="result"></label>
	</div>
	<hr />

	<h3>@RestControllerでRESTを実装</h3>
	<h4>getRestJson</h4>
	<div class="contents">
		<input type="button" value="getRestJson" onclick="getRestJson();" />
		<br />
		<label id="getRestJsonResult" class="result"></label>
	</div>
	<hr />
	
	<h4>getRestBoolean</h4>
	<h5>/url/{param} の形式で送信する</h5>
	<h5>1 + 1 は？</h5>
	<div class="contents">
		<input type="number" id="getRestBooleanValue" value="0" onkeydown="return event.keyCode !== 69;" />
		<input type="button" value="getRestBoolean"
			onclick="getRestBoolean(document.getElementById('getRestBooleanValue').value);" />
		<br />
		<label id="getRestBooleanResult" class="result"></label>
	</div>
	<hr />

	<hr />
	<h4>getRestParam</h4>
	<h5>/url?param= の形式で送信する</h5>
	<h5>1 + 1 は？</h5>
	<div class="contents">
		<input type="number" id="getRestParam" value="0" onkeydown="return event.keyCode !== 69;" />
		<input type="button" value="getRestParam" onclick="getRestParam(document.getElementById('getRestParam').value);" />
		<br />
		<label id="getRestParamResult" class="result"></label>
	</div>
	<hr />
	
</body>

</html>