@charset "UTF-8";

h1 {
	margin-left: 0px;
	padding-left: 5px;

}

h2 {
	margin-left: 4px;
	padding-left: 5px;
	background-color: #f0f0f0;
}

h3 {
	margin-left: 8px;
	padding-left: 5px;
	border-left: 5px solid #333333;
	border-bottom: 1px solid #333333;
}

h4 {
	margin-left: 12px;
	padding-left: 5px;
}

h5 {
	margin-left: 16px;
	padding-left: 5px;
}

div.contents {
	margin-left: 20px;
	padding-left: 5px;
}

label.result {
	background-color: #ff9999;
}